/* Navigator Bar syling*/
a.navbar-brand  {

    font-size: 60px;
    font-style: italic;
}
 
 .lt-blue {
    background-color: rgb(97, 168, 209)!important;
}
 
.aboutBody {
    margin-top: 150!important;

}
 .headShot {
     max-width: 30%;
     ;

 }

 .center {
     align-items: center;
 }
.footer-CV
{
    height: 40px;

    
}


.footer-bottom {
    border-top: 6px solid black;
}
.resume {
    height: 40px;
}

 /* Media Queries*/
 /* for the 'About Sara Taylor' font size smaller for smaller devices*/
